flask
google-generativeai
Pillow
python-dotenv
requests
beautifulsoup4
sentence-transformers
scikit-learn
numpy
PyPDF2
python-docx
transformers
torch
torchvision
torchaudio
accelerate
pandas
gunicorn
lxml
soupsieve
tokenizers
tqdm
filelock
fsspec
packaging
pyyaml
regex
safetensors
typing-extensions
charset-normalizer
idna
urllib3
certifi
